<form [formGroup]="form">
  <label>
    Nombre y Apellidos
    <input type="text" formControlName="fullName" />
  </label>
  <label>
    Correo Electrónico
    <input type="email" formControlName="email" />
  </label>
  <ako-address
    groupName="deliveryAddress"
    legend="Dirección de Entrega"
  ></ako-address>
  <ako-address
    groupName="billingAddress"
    legend="Dirección de Facturación"
  ></ako-address>

  <button type="submit">Siguiente</button>
</form>

<pre>
<strong>Reactive</strong>

<strong>FormGroup.value:</strong>
{{ form.value | json }}

<strong>Status:</strong> {{ form.status }}
</pre>
